[Unit]
Description=Flight Log Service
ConditionPathExists=/opt/flight_log_service
After=network.target
StartLimitIntervalSec=60
 
[Service]
Type=simple
User=ec2-user
Group=ec2-user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/opt/flight_log_service
ExecStart=/opt/flight_log_service/main

# make sure log directory exists and owned by user
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/flight_log_service
ExecStartPre=/bin/chown ec2-user /var/log/flight_log_service
ExecStartPre=/bin/chmod 755 /var/log/flight_log_service
SyslogIdentifier=ec2-user
 
[Install]
WantedBy=multi-user.target